body{
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
}

canvas{
    
}

#ResetButton{
    font-size: 1.2rem;
    width: 300px;
    cursor: pointer;
}

#turnoAlert{
    color: #e84118;
}